.text-center {
  text-align: center;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.wrap-text-word {
  word-break: break-word;
}

.wrap-text-all {
  word-break: break-all;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace !important;
  font-size: .75rem;
  line-height: .75rem;
  white-space: normal;
  color: #d72b3f;
  padding: 2px 3px 1px;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

code.special_formatting a {
  color: inherit
}


#pictures-ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2px;
  padding: 2px;
}
#pictures-ul > li {
  list-style: none;
  width: 350px;
  max-width: 100%;
  padding: 3px;
  margin: 3px;
}
#pictures-ul > li > img{
  width: 100%;
  padding: 3px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
